In [1]:
# Fixes user id data type
import glob
import pandas as pd
print("Pandas Version Number: " + pd.__version__)

Pandas Version Number: 1.4.2

In [2]:
# Read in average ratings
average_ratings_df = pd.read_csv('../../../data/average_ratings/average_ratings.csv')
display(average_ratings_df)

,user_id,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi
0,0.0,7.700000,7.444444,NaN,7.750000,NaN,NaN,7.200000,4.000000,7.818182,...,6.00,7.000000,NaN,6.000000,6.666667,7.571429,NaN,NaN,6.500000,NaN
1,1.0,7.886364,7.750000,NaN,7.860000,NaN,8.500000,8.447368,7.500000,7.826087,...,NaN,7.666667,NaN,8.000000,8.428571,7.954545,9.250000,NaN,8.000000,NaN
2,2.0,8.551724,8.875000,NaN,8.588235,NaN,8.500000,8.400000,8.000000,8.750000,...,NaN,8.500000,NaN,9.000000,9.090909,8.375000,8.750000,NaN,9.000000,NaN
3,3.0,7.571429,7.840000,8.000000,7.492228,8.000000,7.692308,7.956522,7.075949,7.604167,...,NaN,7.746269,9.000000,8.000000,7.090909,7.655914,8.000000,NaN,7.500000,NaN
4,4.0,7.531250,7.769231,NaN,7.685185,NaN,6.666667,7.724638,6.500000,7.564103,...,7.00,7.821429,NaN,7.000000,7.888889,7.676471,8.333333,NaN,8.500000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5683,6525.0,6.444444,6.500000,NaN,6.951220,7.333333,5.750000,7.130435,6.200000,6.346154,...,8.00,7.200000,4.000000,8.000000,6.842105,6.425000,7.857143,NaN,6.500000,NaN
5684,6527.0,6.772727,6.723881,7.428571,6.757576,7.666667,6.628571,7.229508,6.258065,6.374233,...,4.00,7.183099,7.100000,7.375000,6.786667,7.041096,7.631579,NaN,6.739130,NaN
5685,6528.0,7.559211,7.654762,8.142857,7.713636,NaN,7.523810,8.152672,7.095238,7.570312,...,7.00,7.934211,10.000000,7.851064,8.166667,7.793103,8.714286,NaN,7.833333,NaN
5686,6529.0,5.880952,6.352941,NaN,5.944444,6.500000,7.000000,6.352941,6.000000,5.550000,...,NaN,6.818182,NaN,7.000000,5.909091,6.210526,4.000000,NaN,8.000000,NaN
5687,6531.0,7.407407,7.272727,NaN,7.685714,8.857143,7.500000,7.588235,4.333333,7.461538,...,5.25,7.923077,8.333333,NaN,7.666667,6.866667,8.400000,NaN,5.000000,NaN

In [3]:
# Get user_ids and convert to int
average_ratings_df['user_id'] = average_ratings_df['user_id'].astype(int)
display(average_ratings_df)

,user_id,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi
0,0,7.700000,7.444444,NaN,7.750000,NaN,NaN,7.200000,4.000000,7.818182,...,6.00,7.000000,NaN,6.000000,6.666667,7.571429,NaN,NaN,6.500000,NaN
1,1,7.886364,7.750000,NaN,7.860000,NaN,8.500000,8.447368,7.500000,7.826087,...,NaN,7.666667,NaN,8.000000,8.428571,7.954545,9.250000,NaN,8.000000,NaN
2,2,8.551724,8.875000,NaN,8.588235,NaN,8.500000,8.400000,8.000000,8.750000,...,NaN,8.500000,NaN,9.000000,9.090909,8.375000,8.750000,NaN,9.000000,NaN
3,3,7.571429,7.840000,8.000000,7.492228,8.000000,7.692308,7.956522,7.075949,7.604167,...,NaN,7.746269,9.000000,8.000000,7.090909,7.655914,8.000000,NaN,7.500000,NaN
4,4,7.531250,7.769231,NaN,7.685185,NaN,6.666667,7.724638,6.500000,7.564103,...,7.00,7.821429,NaN,7.000000,7.888889,7.676471,8.333333,NaN,8.500000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5683,6525,6.444444,6.500000,NaN,6.951220,7.333333,5.750000,7.130435,6.200000,6.346154,...,8.00,7.200000,4.000000,8.000000,6.842105,6.425000,7.857143,NaN,6.500000,NaN
5684,6527,6.772727,6.723881,7.428571,6.757576,7.666667,6.628571,7.229508,6.258065,6.374233,...,4.00,7.183099,7.100000,7.375000,6.786667,7.041096,7.631579,NaN,6.739130,NaN
5685,6528,7.559211,7.654762,8.142857,7.713636,NaN,7.523810,8.152672,7.095238,7.570312,...,7.00,7.934211,10.000000,7.851064,8.166667,7.793103,8.714286,NaN,7.833333,NaN
5686,6529,5.880952,6.352941,NaN,5.944444,6.500000,7.000000,6.352941,6.000000,5.550000,...,NaN,6.818182,NaN,7.000000,5.909091,6.210526,4.000000,NaN,8.000000,NaN
5687,6531,7.407407,7.272727,NaN,7.685714,8.857143,7.500000,7.588235,4.333333,7.461538,...,5.25,7.923077,8.333333,NaN,7.666667,6.866667,8.400000,NaN,5.000000,NaN

In [4]:
# Export to file
average_ratings_df.to_csv('../../../data/average_ratings/average_ratings.csv', index=False)